.Actions {
  display: flex;
  margin-top: 4px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    flex-grow: 1;
    font-size: x-large;
    margin: 4px;
    border-radius: 50px;
  }
}
