.Dice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: lightgray;
  height: 56px;

  .dice {
    height: 100%;
  }

  .play-button {
    margin-left: 8px;
    cursor: pointer;

    button {
      font-size: large;
    }
  }
}
